<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Important to make website responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Website</title>

    <!-- Link our CSS file -->
    <link rel="stylesheet" href="../../../public/css/style.css">
</head>

<body>
<!--    Navbar section start-->
<section class="navbar">
    <div class="container">
        <div class="logo">
            <img src="../../../public/photos/KFC-Logo.png" alt="Restaurant logo" class="img-responsive" >
        </div>
        <div class="menu text-right">
            <ul>
                <li>
                    <a href="../../../index.php">Home</a>
                </li>

                <li>
                    <a href="../food/foods.php">Foods</a>
                </li>

                <li>
                    <a href="../category/categories.php">Categories!</a>
                </li>

                <li>
                    <a href="../pages/login.php">Log in</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<!--    Navbar section end-->

    <!-- fOOD sEARCH Section Starts Here -->
    <section class="food-search">
        <div class="container">
            
            <h2 class="text-center text-white">Fill this form to confirm your order.</h2>

            <form action="#" class="order">
                <fieldset>
                    <legend>Selected Food</legend>

                    <div class="food-menu-img">
                        <img src="../../../public/photos/images/menu-pizza.jpg" alt="Chicke Hawain Pizza" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h3>Food Title</h3>
                        <p class="food-price">$2.3</p>

                        <div class="order-label">Quantity</div>
                        <input type="number" name="qty" class="input-responsive" value="1" required>
                        
                    </div>

                </fieldset>
                
                <fieldset>
                    <legend>Delivery Details</legend>
                    <div class="order-label">Full Name</div>
                    <input type="text" name="full-name" placeholder="E.g. Vijay Thapa" class="input-responsive" required>

                    <div class="order-label">Phone Number</div>
                    <input type="tel" name="contact" placeholder="E.g. 9843xxxxxx" class="input-responsive" required>

                    <div class="order-label">Email</div>
                    <input type="email" name="email" placeholder="E.g. hi@vijaythapa.com" class="input-responsive" required>

                    <div class="order-label">Address</div>
                    <textarea name="address" rows="10" placeholder="E.g. Street, City, Country" class="input-responsive" required></textarea>

                    <input type="submit" name="submit" value="Confirm Order" class="btn btn-primary">
                </fieldset>

            </form>

        </div>
    </section>
    <!-- fOOD sEARCH Section Ends Here -->

    <!-- social Section Starts Here -->
    <section class="social">
        <div class="container text-center">
            <ul>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/twitter.png"/></a>
                </li>
            </ul>
        </div>
    </section>
    <!-- social Section Ends Here -->

<!--    footer section start-->
<section class="footer">
    <div class="container text-center btc">
        <p>CÔNG TY LIÊN DOANH TNHH KFC VIỆT TRI
            <br>
            Số 292 Bà Triệu, P. Lê Đại Hành, Q. Hai Bà Trưng, TP. Hà Nội.
            <br>
            Điện thoại: 0947530565
            <br>
            Email: tddnp565@gmail.com
            <br>
            Mã số thuế: 0100773885
            <br>
            Ngày cấp: 29/10/1998 - Nơi cấp: Cục Thuế Thành Phố Hà Nội
            <br>
            Copyright © 2021<a href="#">DuyTran</a></p>
    </div>

    <div class="logo-bct">
        <img src="../../../public/photos/logo_bocongthuong.png" alt="">
    </div>

    <div class="clearfix"></div>
</section>
<!--    footer section end-->

</body>
</html>